input[type=text],textarea {
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}


table {
    border: 1px solid #CCC;
    width:auto !important
}

.StatusNum[type="text"]
{
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    width: 50px;
}

.SubStatusNum[type="text"]
{
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    width: 50px;
    background-color: #CCC;
}

#memo{
    border: 1px solid #777777;
    overflow: hidden; 
    overflow-wrap: break-word; 
    resize: none; 
    width: 300px; 
    height: 100px;
}
#encode{
    border: 1px solid #777777;
    overflow: hidden; 
    overflow-wrap: break-word; 
    width: 300px; 
    height: 300px;

}
#name{
    padding: 0.8em;
    outline: none;
    border: 1px solid #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    width: 200px;
    height: 30px;
}

.SkillText[type=text]{
    border: 1px solid #CCC;
    width: 150px;
}
.SkillNum[type=text]{
    border: 1px solid #CCC;
    width: 70px;
}
.sticky {
    float: right;
    display: flex;
    position: fixed;
    right:0px;
    bottom:0px;
}
